<?xml version="1.0" encoding="utf-8" ?>
<config>
	<device_name>qqqq</device_name>
	<path>dddd</path>
	<resolution>1024*512</resolution>
	<exposition>111</exposition>
	<auto_exposition>true</auto_exposition>
	<x_field>10</x_field>
	<y_field>12</y_field>
	<x_frame_size>128</x_frame_size>
	<y_frame_size>128</y_frame_size>
	<x_frame_position>0</x_frame_position>
	<y_frame_position>0</y_frame_position>
	<wavelength>632.8</wavelength>
	<color>0</color>
</config>
